{% extends 'LemonReportBundle::layout.html.twig' %}

{% block title report.name %}

{% form_theme form _self %}

{% block form_row %}
    {% spaceless %}
        {% if attr.class is not defined %}
            {% set attr = attr|merge({'class': 'control-group'}) %}
        {% endif %}
        {% set attr = attr|merge({'class': (attr.class|default('') ~ ' span3')|trim}) %}
        {% if errors|length > 0 %}
            {% set attr = attr|merge({'class': (attr.class|default('') ~ ' error')|trim}) %}
        {% endif %}
        <div {{ block('widget_container_attributes') }}>
            {{ form_label(form) }}
            <div class="controls">
                {{ form_widget(form) }}
                {{ form_errors(form) }}
            </div>
        </div>
    {% endspaceless %}
{% endblock form_row %}

{% block button_row %}
{% spaceless %}
    <div class="span3">
        {{ form_widget(form) }}
    </div>
{% endspaceless %}
{% endblock button_row %}

{% block button_widget %}
{% spaceless %}
    {% if label is empty %}
        {% set label = name|humanize %}
    {% endif %}
    <label class="control-label">&nbsp;</label>
    <button type="{{ type|default('button') }}" {{ block('button_attributes') }}>{{ label|trans({}, translation_domain) }}</button>
{% endspaceless %}
{% endblock button_widget %}


{% block body %}

    <div class="row">
        <div class="span8">
            <h2>{{report.name}}</h2>
        </div>
        <div class="span4 text-right">
            <div class="btn-toolbar">
                <div class="btn-group">
                    <a class="btn btn-small" href="{{path('lemon_report_view', { id: report.id, _format: 'csv' })}}"><i class="icon-download-alt"></i> CSV</a>
                    <a class="btn btn-small" href="{{path('lemon_report_view', { id: report.id, _format: 'json' })}}">JSON</a>
                    <a class="btn btn-small" href="{{path('lemon_report_view', { id: report.id, _format: 'xml' })}}">XML</a>
                </div>
            </div>
        </div>
    </div>

    {% if report.parameters is not empty %}
    <form method="post" action="{{path('lemon_report_view_page', { id: report.id })}}" {{ form_enctype(form) }}>
        <div class="row">
        {{form_widget(form)}}
    </div>
    </form>
    {% endif %}

    <h4>{{pager.nbResults}} Results found</h4>

    {% if pager.currentPageResults|length > 0 %}
    <table class="table table-hover table-bordered table-condensed table-unseen-col">
        <thead>
            <tr>
            {% for k, col in columns %}
                <th>{{col}}</th>
            {% endfor %}
            </tr>
        </thead>
        <tbody>
        {% for result in pager.currentPageResults %}
            <tr>
            {% for key, value in result %}
                <td>{{value}}</td>
            {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% else %}
    <div class="well">{% trans %}There are no results for this report.{% endtrans %}</div>
    {% endif %}

    <div class="pagerfanta">
        {{ pagerfanta(pager, 'twitter_bootstrap') }}
    </div>

    {% if app.debug %}
        <h4>Query</h4>
        {{query|raw}}
    {% endif %}
{% endblock %}
